@*@model List<People>

    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Owner Name</th>
                    <th>Dog Name</th>
                    <th>Breed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td><h4>@Html.ActionLink(p.PeopleName, "Edit", new { id = p.PeopleID })</h4></td>
                        <td><h4>@Html.ActionLink(p.Dogs, "Edit", new { id = p.Dogs })</h4></td>
                        <td>@p.Dog.DogBreed</td>
                        <td>
                            @Html.ActionLink("Remove", "Remove", new { id = p.People.PeopleID, p.Dog.DogID })
                            @Html.ActionLink("Register", "Register", new { id = p.People.PeopleID, p.Dog.DogID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @section Scripts{
        <partial name="_Scripts" />
    }*@
